*{
    margin: 0;
    padding: 0;
    }
    /* nav{
    background-color: #776a67;
    font-size: 15px;
    }
    nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    nav li{
    height: 50px;
    }
    .f {
            justify-content: center;
    }
    nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    font-family: League Spartan;
    align-items: center;
    color: #c2ccce; 
    }
    nav a:hover{
    background-color: #005767; 
    }

    .headImg a:hover {
            background-color: #776a67;
    }
    nav li:first-child{
    margin-right: auto;
    }
    .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color:#776a676f;
    backdrop-filter: blur(17px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bolder;
    justify-content: flex-start;
    }
    .sidebar li{
    width: 100%;
    }
    body {
    background-color: #c2ccce; 
    }
    .sidebar a{
    width: 100%;
    }
    .menu-button{
    display: none;
    }
    @media(max-width: 1087px){
    .hideOnMobile{
    display: none;
    }
    .menu-button{
    display: block;
    }
    }
    @media(max-width: 400px){
    .sidebar{
    width: 100%;
    }
} */


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #565656;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #464646;
}

div {
   border: 15%; 
   background-color: #f2f2f2; 
  padding-left: 5%;
  padding-right: 5%;
  /* width: 60%; */
}

 body {
  background-image: none;
  background-color: #f2f2f2;
}


p {
  text-align: center;
}

h1 {
  text-align: center;
}