/* styles.css */

/* Navbar styles */

*{
    margin: 0;
    padding: 0;
}
nav {
    background-color: #8b8b8b; /* Light gray background */
    padding: 20px 40px; /* Padding inside the nav */

}

ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
    display: flex; /* Flexbox layout for horizontal list */
}

li {
    margin-right: 20px; /* Spacing between nav items */
}

/* Link styles */
li a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Dark text color */
    font-weight: 600; /* Bold font weight */
    transition: all 0.3s ease; /* Smooth transition on hover */
}

li a:hover {
    background-color: #a3a3a3;
    padding: 20px 10px;
    border-radius: 10px;
}


